In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, LongType, StringType, IntegerType

In [2]:
spark = SparkSession.builder. \
appName("Nested Schema"). \
getOrCreate()

In [3]:
cust_schema = "cust_id long, full_name struct<first_name: string, last_name: string>, city string"

In [4]:
cust_schema_2 = StructType([
    StructField("cust_id", IntegerType()),
    StructField("full_name", StructType([
        StructField("first_name", StringType()),
        StructField("last_name", StringType())
    ])),
    StructField("city", StringType())
])

In [5]:
df = spark.read.json("./dataset/cust_nested.json", schema=cust_schema, multiLine=True)
df.show()
df.printSchema()

+-------+-------------+-----+
|cust_id|    full_name| city|
+-------+-------------+-----+
|      1|    {Mai, DE}| Lyon|
|      2|{Nam, Nguyen}|Hanoi|
|      3|  {Hoa, Tran}|  HCM|
+-------+-------------+-----+

root
 |-- cust_id: long (nullable = true)
 |-- full_name: struct (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |-- city: string (nullable = true)

In [6]:
df_2= spark.read.json("./dataset/cust_nested.json", schema=cust_schema_2, multiLine=True)
df_2.show()
df_2.printSchema()

+-------+-------------+-----+
|cust_id|    full_name| city|
+-------+-------------+-----+
|      1|    {Mai, DE}| Lyon|
|      2|{Nam, Nguyen}|Hanoi|
|      3|  {Hoa, Tran}|  HCM|
+-------+-------------+-----+

root
 |-- cust_id: integer (nullable = true)
 |-- full_name: struct (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |-- city: string (nullable = true)